// _project.scss


// セクション
.p-top {
    background: #dddddd;
    height: 40dvh;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.p-works {
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 10px
        "...... ...... top    ...... ......" auto
        "...... ...... ...... ...... ......" 30px
        "...... left   ...... right  ......" auto
        "...... ...... ...... ...... ......" 50px
        / 5dvw 35dvw 15dvw 35dvw 5dvw;
    min-height: 50vh;
    max-width: 95dvw;
    margin: 0 auto;
    animation: fadeInUp 1s;
}

.p-solutions {
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 10px
        "...... ...... top    ...... ......" auto
        "...... ...... ...... ...... ......" 30px
        "...... left1  ...... right1 ......" auto
        "...... ...... ...... ...... ......" 50px
        "...... left2  ...... right2 ......" auto
        "...... ...... ...... ...... ......" 50px
        / 5dvw 25dvw 15dvw 25dvw 5dvw;
    min-height: 50vh;
    max-width: 75dvw;
    margin: 0 auto;
    animation: fadeInUp 1s;
}

.p-about {
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 10px
        "...... ...... top    ...... ......" auto
        "...... ...... ...... ...... ......" 50px
        "...... img1   ...... cent1  ......" auto
        "...... ...... ...... ...... ......" 20px
        "...... ...... ...... cent2  ......" auto
        "...... ...... ...... ...... ......" 50px
        / 13dvw 15dvw 5dvw 40dvw 1dvw;
    min-height: 50vh;
    max-width: 74dvw;
    margin: 0 auto;
    animation: fadeInUp 1s;
} // 設計ミスでセクションじゃないクラスをここに入れてます。

.p-contact {
    margin: auto 20dvw;
    animation: fadeInUp 1s;
}


// works
.p-works__title {
    grid-area: top;
    justify-self: center; /* エリア内でブロックを中央に */
    text-align: center;
}


.p-selflp {
    grid-area: left;
    text-align: center;
}


.p-schoollp {
    grid-area: right;
    text-align: center;
}



// solutions
.p-solutions__background {
    background: #dddddd;
}

.p-solutions__title {
    grid-area: top;
    justify-self: center; /* エリア内でブロックを中央に */
    text-align: center;
}

.c-card__web {
    grid-area: left1;
}

.c-card__sp {
    grid-area: left2;
}

.c-card__animation {
    grid-area: right1;
}

.c-card__ec {
    grid-area: right2;
}

.p-img__solutions {
    width: 50%;
    height: auto;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05); /* ホバー時に少し大きくする */
    }
}


// about
.p-about__title {
    grid-area: top;
    /* 「2列目から4列目まで」のように、複数の列をまたぐ指定 */
    grid-column: 1 / 6;
    
    /* その広い範囲の中で真ん中に寄せる */
    justify-self: center; 
    text-align: center;
}

.p-img__about {
    grid-area: img1;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 20px;
}

.p-about__introduction {
    grid-area: cent1;
}

.p-about__career {
    grid-area: cent2;
}


// テキスト
.p-name {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInUp {
        from {
            opacity: 0;               /* 最初は透明 */
            transform: translateY(20px); /* 20px下に下げておく */
        }
        to {
            opacity: 1;               /* 最後は表示 */
            transform: translateY(0);  /* 元の位置に戻す */
        }
}


// 画像
.p-img__selflp {
    width: 100%;
    height: auto;
}

.p-img__schoollp {
    width: 100%;
    height: auto;
}

.p-img__webicon {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #909090;
}

.p-img__spicon {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #909090;
}

.p-img__animationicon {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #909090;
}

.p-img__ecicon {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #909090;
}

.p-img__portrait {
    width: 100%;
    height: auto;
    border-radius: 50%;
}


